<h2 class="title-page">Álbumes</h2>
<div class="new-registry">
  <a class="save" ng-href="#/new-album">
    Nuevo albúm
  </a>
</div>
<section class="section-search">
  <div ng-cloak>
    <div class="container-list">
      <div class="search-th">
        <div class="th-num">Nombre</div>
      </div>
      <div class="loading" ng-show='loading'>Cargando...</div>
      <div ng-show="!loading" class="search-td">
        <div class="container-tab" ng-repeat="album in albumes">
          <div class="td-num" ng-click="viewReservation(album.pk)">{{ album.fields.name }}</div>
          <p class="remove" ng-click="deletAlbum(album.pk)">Eliminar</p>
        </div>
      </div>
    </div>
  </div>
</section>