/* header css stylesheet */
html {
  line-height: 2.4;
  height: 100%;
  background-color: #f4f6f8;
}

body {
  position: relative !important;
  width: auto !important;
  top: 0px !important;
}

header {
  background-color: #ffffff;
  height: 59px;
  padding: 0;
  box-shadow: 0px 1px 5px 1px rgba(199, 197, 199, 0.5);
  position: fixed;
  z-index: 1;
  width: 100%;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 59px;
  padding-left: 70px;
  padding-right: 70px;
}

/* General stylesheet */
.page {
  margin: 0;
  overflow: hidden;
  padding: 0;
  min-height: 100%;
  background-color: #f4f6f8;
}

#main {
  display: flex;
}

#main .container {
  display: inline-block;
  padding: 50px 0 0 0;
  width: 100%;
  position: relative;
  background: #f4f6f8;
  margin-top: 59px;
}

.content {
  min-height: calc(100% - 173px);
  text-align: center;
  margin-bottom: 60px;
}

/* Styles for buttons */
.container .new-registry {
  right: 57px;
  top: -57px;
  position: absolute;
  display: inherit;
  padding: 9px 13px 9px 13px;
  z-index: 9
}

.container .new-registry a {
  border-radius: 3px;
  color: #ffffff;
  padding: 9px 13px 9px 13px;
  font-size: 13px;
  text-decoration: none;
}

.save, .cancel {
  border: none;
  padding: 7px 15px 7px 15px;
  cursor: pointer;
}

.save {
  background-color: #6d989c;
}

.cancel {
  background-color: #cecdce;
  margin-left: 11px;
}

/* Styles for list */
.td-num, .td-song {
    margin: 0 auto;
    border: 1.5px solid #e5e5e5;
    margin-bottom: 20px;
    padding: 4px;
    width: 90%;
}

.td-num {
    cursor: pointer;
}

.th-num {
    background-color: #6d989c;
    color: #ffffff;
    margin: 0 auto;
    padding: 4px;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.td-num:hover {
    background-color: #6d989c;
    color: #ffffff;
}

.error {
    color: red;
}

.container-list {
	width: 80%;
    margin: 0 auto;
    background-color: rgb(250,250,250);
    padding-bottom: 20px;
}

.remove {
    font-size: 12px;
    color: #cecdce;
    cursor: pointer;
    padding-left: 10px;
}

.remove:hover {
	color: #727272;
}

.container-tab {
	display: flex;
	padding: 0px 49px 0px 24px;
}